  spring:
    application:
      name: ${SPRING_APPLICATION_NAME} # Nombre de la aplicación
    datasource:
      # Aquí referenciamos explícitamente la variable de entorno
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}
    docker:
      compose:
        enabled: false # Desactivamos la integración automática de Docker Compose
        
  # Configuración de JPA / Hibernate
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate # Producción-friendly: Flyway crea tablas, Hibernate solo valida
    show-sql: true

  # Configuración de Migraciones (Flyway)
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: true

  # Configuración de Logging
  logging:
    level:
      root: INFO
      org.springframework.security: DEBUG # Útil al inicio para ver si rechaza tokens
      org.springframework.web: INFO